<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>shuttle.me - configure</title>
    <meta name="description" content="TxState Shuttle Alert System">
    <meta name="author" content="Jason Jalufka, Abigail Barron, Ryan Jalufka">

    <! -- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <! -- FONT -->
    <link href='https://fonts.googleapis.com/css?family=Sansita' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

    <! -- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='skeleton.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='configure.css') }}">

    <! -- SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>


</head>
<body>

<div class="section header">
    <div class="container">
        <div class="row">
            <img class="logo" src="/static/images/shuttle.png" alt="shuttle logo" style="width: 75px; height: 75px;">
        </div>
        <div class="row">
            <h1 id="title">shuttle.me</h1>
        </div>
    </div>
</div>

<div class="section configure">
    <div class="container">
         <div class="row btn-container">
             <div class="btn-group">
                 <button class="button btn-left">Your Stop</button>
                 <button class="button btn-mid">Distance</button>
                 <button class="button btn-right">Alerts</button>
             </div>
         </div>
    </div>
</div>

</body>
</html>