{% extends "base.html" %}
{% block title %}configure{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<div class="section header">
    <div class="container">
        <div class="row">
            <img class="logo" src="/static/images/shuttle.png" alt="shuttle logo" style="width: 75px; height: 75px;">
        </div>
        <div class="row">
            <h1 id="title">shuttle.me</h1>
        </div>
    </div>
</div>

<div class="section configure">
    <div class="container">
         <div class="row btn-container">
             <div class="btn-group">
                 <button class="button btn-left">Your Stop</button>
                 <button class="button btn-mid">Distance</button>
                 <button class="button btn-right">Alerts</button>
             </div>
         </div>
    </div>
    <div class="container">
    <form action="/getConfig" method="post">
        <div class="row stop-select">
            <h5 class="config-info" style="clear:both";>Select your stop from the list below</h5>
            <div class="row stop-input">
                <div class="four columns offset-by-two">
                    <select class="u-full-width" name="bus-stops">
                        {% for key, value in data.iteritems() %}
                            <option value="{{ key }}">{{ value }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="four columns">
                    <input class="button-primary config-submit u-full-width" type="button" value="Next">
                </div>
            </div>
        </div>
        <div class="row distance-select">
            <h5 class="config-info" style="clear:both";>How long does it take you to walk to your stop?</h5>
            <div class="row distance-input">
                <div class="four columns offset-by-two">
                    <input class="u-full-width" type="number" id="distanceInput" name="distance">
                </div>
                <div class="four columns">
                    <input class="button-primary config-submit u-full-width" type="button" value="Next">
                </div>
            </div>
        </div>
        <div class="row alert-select">
            <h5 class="config-info" style="clear:both";>Select the alerts you would like to receive.</h5>
            <div class="row alert-input">
                <div class="four columns offset-by-two">
                    <label><input type="checkbox" id="audioToggle" name="check" value="audio"> Audio alerts</label>
                    <label><input type="checkbox" id="visualToggle" name="check" value="visual"> Visual Alerts</label>
                </div>
                <input class="button-primary config-submit u-full-width" type="submit" value="Submit">
            </div>
        </div>
    </form>
    </div>
</div>

<script src="../static/ui.js"> type="text/javascript"</script>

{% endblock %}