{% extends 'base.html' %}
{% block title %}dashboard{% endblock %}
{% block CSS %}<link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">{% endblock %}
{% block scripts %}
    <script type="text/javascript">var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
    <script src="{{ url_for('static', filename='countdown.js') }}"></script>
    <script src="{{ url_for('static', filename='update.js') }}"></script>
{% endblock %}
{% block content %}
    <h1>{{ route }}</h1>
    <br>
<div class="section header">
    <div class="container">
        <div class="row">
            <h4>Dashboard - {{ name }}</h4>
            <h4><button id="calculate">Calculate departure time</button></h4>
        </div>
    </div>
</div>
<div class="section countdown">
    <div class="container">
        <div class="row">
            <div id="timer" class="six columns offset-by-three">
                <script type="text/javascript">
                    $(window).on('load', function(){
                        console.log("Window is loaded in dashboard");
                        setInterval(alert("hello"), 8000)
                    });
                    $('#calculate').on('click', function(){
                        console.log("You clicked me!");
                        updateTimer({{ bus_info|tojson }}, {{ info.distance }});
                    })
{#                    $(window).load(function(){#}
{#                        console.log("window is loaded in dashboard")#}
{#                        setInterval(updateTimer({{ bus_info|tojson }}), 60000)#}
{#                        setInterval(timeLeft(), 30000)#}
{#                    });#}
                </script>
            </div>
            <div id="nobuses" class="six columns offset-by-three">
            </div>
        </div>
    </div>
</div>

{% endblock %}