{% extends 'base.html' %}
{% block title %}dashboard{% endblock %}
{% block CSS %}<link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">{% endblock %}
{% block scripts %}
    <script type="text/javascript">var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
{#    <script src="{{ url_for('static', filename='countdown.js') }}"></script>#}
    <script src="{{ url_for('static', filename='update.js') }}"></script>
    <script src="{{ url_for('static', filename='jquerytimer.js') }}"></script>
{% endblock %}
{% block content %}
    <img class="logo" src="/static/images/shuttle.png" alt="shuttle logo" style="width: 75px; height: 75px;"><h1></i>{{ route }}</h1>
    <hr>
<div class="section header">
    <div class="container">
        <div class="row">
            <h4>Your stop: {{ name }}</h4>
{#            <h4><button id="calculate">Calculate departure time</button></h4>#}
        </div>
    </div>
</div>
<div class="section countdown">
    <div class="container">
        <div class="row">
            <div class="countdown-timers" id="timers" class="six columns offset-by-three">

            </div>
            <div id="nobuses" class="six columns offset-by-three">
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(window).on('load', function(){
        console.log("Window is loaded in dashboard");
        function update() {
            updateTimer({{ bus_info|tojson }}, {{ info.distance }});
        }
        update();
        setInterval(update, 1200000);
        function getTimeLeft() {
            timeLeft()
        }
        setTimeout(getTimeLeft, 10000);
        setInterval(getTimeLeft, 30000);
    });
{#    $('#calculate').on('click', function(){#}
{#        console.log("You clicked me!");#}
{#        updateTimer({{ bus_info|tojson }}, {{ info.distance }});#}
{#    })#}
</script>
{% endblock %}